data/* 
!data/source_repos.txt
!data/source_repos_java.txt
!data/annotation
data/annotation/*_outlier*
!data/python_repo.txt
!data/suppressionb_data
local/
*__pycache_*
.vscode/settings.json
pyproject.toml
jparser/lib