<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- <link rel="stylesheet" href="static/fontawesome.min.css"> -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <style>
        .highlight {
          background-color: lightgreen;
        }
        .highlightedDiv{
            white-space: pre-wrap;
            height: 100%;
            flex-grow: 1;
            background-color: transparent;
            border: none;
            outline: none;
        }
        table {
            border-collapse: collapse;
            width: 40%;
            font-size: 12px;
        }

        table, th, td {
            border: 1px solid white;
        }

        th, td {
            /* padding: 10px; */
            text-align: center;
            width: 16.67%;
        }
    </style>
</head>

<body id="defaultPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="index.html">
                    <h2 class="tm-site-title mb-0">Anything Tracker</h2>
                </a>
                <table id="rangeType" style="visibility: hidden;">
                    <thead>
                      <tr>
                        <th>Change Types</th>
                        <th>Nonchanged</th>
                        <th>Partial changed</th>
                        <th>Fully changed</th>
                        <th>Moved</th>
                        <th>Deleted</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Source ranges</th>
                        <td id="non changed">0</td>
                        <td id="partial changed">0</td>
                        <td id="fully changed">0</td>
                        <td id="moved">0</td>
                        <td id="deleted">0</td>
                        <td id="all">0</td>
                      </tr>
                    </tbody>
                </table>

                <table id="count" style="visibility: hidden;">
                    <thead>
                      <tr>
                        <th></th> <!-- Empty cell in the top-left corner -->
                        <th>Single word</th>
                        <th>Partial</th>
                        <th>Single line</th>
                        <th>Multiline</th>
                        <th>Unit</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Neighboring</th>
                        <td id="Nsingle identifier/word">0</td>
                        <td id="Nsingle expression/partial of sentence">0</td>
                        <td id="Nsingle line">0</td>
                        <td id="Nmultiple line">0</td>
                        <td id="Nstructural unit">0</td>
                      </tr>
                      <tr>
                        <th>K-distance</th>
                        <td id="Ksingle identifier/word">0</td>
                        <td id="Ksingle expression/partial of sentence">0</td>
                        <td id="Ksingle line">0</td>
                        <td id="Kmultiple line">0</td>
                        <td id="Kstructural unit">0</td>
                      </tr>
                    </tbody>
                  </table>
            </div>

        </nav>
        <div class="container">
            <br>
            <div class="myrow">
                <div class="col">
                    <label>Repository Link:<input id="repo"></label>
                    <label>Source Commit:<input id="sourceCommit"></label>
                    <label>Target Commit:<input id="targetCommit"></label>
                    <label>Source File Path:<input id="sourceFilePath"></label>
                    <label>Target File Path:<input id="targetFilePath"></label>
                    <button id="loadData">Load Data</button>
                </div>
            </div>
            <br>

            <div class="row tm-content-row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                        <div class="myrow">
                            <h3 class="tm-block-title">Source version</h3>
                            <p id="dataIdx"></p>
                            <div class="nav-item dropdown" id ="changeOperation" style="visibility: hidden;">
                                <label for="operationSelect">Change Types:</label>
                                <select id="operationSelect" >
                                    <option value="">please choose</option> <!-- only for validation -->
                                    <option value="non changed" selected>nonchanged</option>
                                    <option value="partial changed">partial changed</option>
                                    <option value="fully changed">fully changed</option>
                                    <option value="moved">moved</option>
                                    <option value="deleted">deleted</option>
                                </select>
                            </div>

                            <p id="distance"></p>
                            <div class="nav-item dropdown" id ="category" style="visibility: hidden;">
                                <label for="categorySelect">Category:</label>
                                <select id="categorySelect">
                                    <option value="single identifier/word" selected>single identifier/word</option>
                                    <option value="single expression/partial of sentence">single expression/partial of sentence</option>
                                    <option value="single line">single line</option>
                                    <option value="multiple line">multiple line</option>
                                    <option value="structural unit">structural unit</option>
                                </select>
                            </div>
                        </div>
                        <div class="tm-notification-items">
                            <div class="lineNumberContainer" id="baseLineNumber">
                            </div>
                            <p class="highlightedDiv" id="codeTextarea" contenteditable="true"></p>
                        </div>
                        <br>
                        <div class="myrow">
                            <input type="file" name = "round1" id="fileInput" accept=".json">
                            <button onclick="readFile()">Read</button>
                            <button onclick="showNext()">Next</button>
                            <button onclick="pushToMemory()">Push</button>
                            <button onclick="saveAnnotations()">Save Annotation</button>
                            <form id="startProjectForm">
                                <button id="startTrack" onclick="startProject()">Track</button>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                        <div class="myrow">
                            <h2 class="tm-block-title">Target version</h2>
                            <p id="time"></p>
                            <input class="myrowinput" id="mark" style="visibility: hidden;" placeholder="Enter mark here...">
                        </div>
                        
                        <div class="tm-notification-items">
                            <div class="lineNumberContainer"  id="targetLineNumber">
                            </div>
                            <div class="highlightedDiv" id="targetCodeTextarea" contenteditable="true"></div>
                        </div>
                        <br>
                        <button id="feedback_good">Good</button>
                        <button id="feedback_bad">Bad</button>
                        <button id="save">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/receive-text.js"></script>
    <!-- <script src="static/get-source-start-track.js"></script> -->
    <script src="../static/highlight-ranges.js"></script>
    <script src="../static/run-tracker.js"></script>
    <script src="../static/add-base-line-num.js"></script>
    <script src="../static/add-target-line-num.js"></script>
    <script src="../static/auto-next.js"></script>
</body>

</html>