<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- <link rel="stylesheet" href="static/fontawesome.min.css"> -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <style>
        .highlight {
          background-color: lightgreen;
        }
        .highlightedDiv{
            /* width: 100%; */
            height: 100%;
            flex-grow: 1;
            background-color: transparent;
            border: none;
            outline: none;
        }
    </style>
</head>

<body id="defaultPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="index.html">
                    <h2 class="tm-site-title mb-0">Anything Tracker</h2>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <label for="modeSelect">Mode:</label>
                            <select id="modeSelect" onchange="changeMode(this)">
                                <option value="auto" selected>Auto</option>
                                <option value="manual">Manual</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
        <div class="container">
            <br>
            <div class="myrow">
                <div class="col">
                    <label>Repository Link:<input id="repo"></label>
                    <label>Base Commit:<input id="baseCommit"></label>
                    <label>Target Commit:<input id="targetCommit"></label>
                    <label>File Path:<input id="filePath"></label>
                    <button id="loadData">Load Data</button>
                </div>
            </div>
            <br>

            <div class="row tm-content-row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                        <h3 class="tm-block-title">Base version</h3>
                        <div class="tm-notification-items">
                            <div class="lineNumberContainer" id="baseLineNumber">
                            </div>
                            <div class="highlightedDiv" id="codeTextarea" contenteditable="true"></div>
                        </div>
                        <br>
                        <div class="myrow">
                            <input type="file" id="fileInput" accept=".json">
                            <button onclick="readFile()">Read</button>
                            <button onclick="showNext()">Next</button>
                            <button onclick="pushToMemory()">Push</button>
                            <button onclick="saveAnnotations()">Save Annotation</button>
                            <form id="startProjectForm">
                                <button id="startTrack" onclick="startProject()">Track</button>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                        <h2 class="tm-block-title">Target version</h2>
                        <div class="tm-notification-items">
                            <div class="lineNumberContainer"  id="targetLineNumber">
                            </div>
                            <div class="highlightedDiv" id="targetCodeTextarea" contenteditable="true"></div>
                                <!--  onmouseup="highlight('yellow')" -->
                        </div>
                        <br>
                        <button id="feedback_good">Good</button>
                        <button id="feedback_bad">Bad</button>
                        <button id="save">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/change-modes.js"></script>
    <script src="../static/receive-text.js"></script>
    <!-- <script src="static/get-source-start-track.js"></script> -->
    <script src="../static/highlight-ranges.js"></script>
    <script src="../static/run-tracker.js"></script>
    <script src="../static/add-base-line-num.js"></script>
    <script src="../static/add-target-line-num.js"></script>
    <script src="../static/auto-next.js"></script>
</body>

</html>